MONGODB_URI=mongodb://luisarce60089:rGYwVKko8ihLmyaC@localhost:27017/taskmanager?authSource=admin
#MONGODB_URI=mongodb+srv://luisarce60089:rGYwVKko8ihLmyaC@cluster1.mtiwqud.mongodb.net/?retryWrites=true&w=majority
PUBLIC_OIDC_URL="http://localhost:8080"
PUBLIC_OIDC_CLIENT_ID="myclient"
PUBLIC_OIDC_REALM="myrealm"
SENDGRID_API_KEY="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"